.Award-container h1{
    text-align: center;
    font-family: var(--main-font);
    padding: 30px;
    color: var(--logo-orange);
}

.Award-Images{
    width: auto;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 900px){
    .Award-Images{
        padding:50px;
    }
    .Award-Images img{
        width: 150px;
    }
}

@media screen and (max-width: 600px){
    .Award-Images img{
        width: 100px;
    }
}