@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');

:root{
    --main-font : 'Lugrasimo', cursive;
    --sub-font : 'Philosopher', sans-serif;

    --logo-orange : #E24418;
    --solid-black : #030202;
    --char-donnay : #FFC77D;
    --oasis : #FCE7CD;
    --grey : #817B7A;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
  
a{
    color: unset;
    text-decoration: none;
}